*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container
{
    height: 70vh;
    background-color: red;
    border: 10px solid rgb(56, 6, 237);
    display: grid;
    grid-template-columns:200px 200px;
    grid-template-rows: 30px 400px 30px;
    grid-template-areas: "hd hd"
    "side main"
    "ft ft";
    
} */
.box{
    background-color: rgb(15, 71, 40);
    border: 3px solid rgb(184, 237, 9);
}

.container
{
    height:100vh;
    background-color: red;
    border: 10px solid rgb(95, 245, 117);
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-template-rows:250px 600px;
    grid-template-areas:
     "hd hd hd hd hd hd hd hd"
    "side main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    
}
#box1
{
    grid-area: hd;
}
#box2
{
    grid-area: side;
}
#box3
{
    grid-area:main ;
}
#box4
{
    grid-area: ft;
}
@media(max-width:500px)
{
    .container
    {
    grid-template-columns: 200px;
    grid-template-rows: 30px 250px 300px 30px;
    grid-template-areas: "hd"
    "side"
    " main"
    "ft";
    }
}